@inject IJSRuntime js;

<h3 class="pageTitle">Top Anime</h3>
<div class="glide-anime">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      @foreach (var ep in Episodes)
        {
          <li class="glide__slide glide__slide--card">
            <a href="anime/@ep.mal_id">
              <div class="glide__slide--card-container">
                <div class="glide__slide--card-container-bg" style="background: url(@ep.image_url) no-repeat center center;">
                </div>
                <div class="glide__slide--card-container-title">
                  <h5>
                    @ep.title
                  </h5>
                </div>
              </div>
            </a>
          </li>
        }
    </ul>
  </div>
</div>


@code{

  [Parameter]
  public IEnumerable<Anime> Episodes { get; set; }

  protected override async Task OnAfterRenderAsync(bool firstRender){
    await js.InvokeVoidAsync("initializeGlider", ".glide-anime");
  }
}