<div style="@(ActiveClass ? "display: flex;" : "display: none; ") position: relative;">
        <EpisodesVideos Episodes="@ItalianEpisodesList"></EpisodesVideos>
</div>

@code{
    [Parameter]
    public List<AniEpisodeBase> ItalianEpisodesList { get; set; }
    [Parameter]
    public bool ActiveClass { get; set; }
}