@inject IJSRuntime _jsRuntime

<h3 class="pageTitle">Top Anime</h3>
<div class="swiper swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    @foreach (var anime in Animes)
        {
            <div class="swiper-slide">
                <h5 class="animeName">@anime.title</h5>
                <a href="anime/@anime.mal_id">
                    <img class="cardImg" src="@anime.image_url" alt="@anime.title" />
                </a>
            </div>
        }
  </div>
  
</div>

@code {
    [Parameter]
    public IEnumerable<Anime> Animes { get; set; }
    
}
