@inject IJSRuntime _jsRuntime

<div class="swiper-container">
    <div class="swiper-wrapper">
        @foreach (var ep in Episodes)
        {
            <div class="swiper-slide">
                <h5 class="animeName">@ep.title</h5>
                <a href="episodedetails/@ep.mal_id">
                    <img class="cardImg" src="@ep.image_url" alt="@ep.title" />
                </a>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<Anime> Episodes { get; set; }
    
}
