<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Title</h2>
        </div>
        <div class="dialog-body">
			<div>
				<video controls autoplay muted>
					<source src="@VideoUrl" type="video/mp4">
				</video>
			</div>
		</div>
		<span class="btn-close" @onclick="OnCancel">&#10006;</span>
    </div>
</div>


@code{
	[Parameter]
	public EventCallback OnCancel { get; set; }
	[Parameter]
	public string Title { get; set; }
	[Parameter]
	public string VideoUrl { get; set; }
}