
/**
{
    margin: 0;
    padding: 0;
}
*/


.synopsis {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.pageTitle {
    text-align: center; 
    color:antiquewhite; 
    font-size: 25px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.animeName {
    text-align: center;
    color: antiquewhite;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

body {
    background-color: #3d3d3d;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Lato';
}

.swiper-container {
    width: 90vw;
    height: 70vh;
    padding-bottom: 40px;
}

.swiper-slide {
    background-position: center;
    width: 250px;
    height: 350px;
    -webkit-box-reflect: below 46px linear-gradient(transparent, transparent, #0006);
    justify-content: center;
    align-items: center;
}


.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 650px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* SEARCH ENGINE COMPONENT DISPLAY */
.card {
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}

.descriptions {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,.7);
    width: 100%;
    height: 100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}

.card:hover .descriptions {
    left: 0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}

.card:hover {
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}

.card:hover img {
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}

.card h3 {
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
}

.card p {
    padding-top: 10px;
    line-height: 24px;
    height: 70%;
}

.card button {
    position: absolute;
    bottom: 10px;
    left: 55px;
    width: fit-content();
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color: #fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}

.card button:hover {
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}

.row{
    padding: 20px 20px;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: auto;
    padding: 10px 10px;
}

@media screen and (max-width: 600px) {

    .col {
      width: auto;
      display: block;
      margin: 20px;
    }
    
}

.dropdown{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

.dropdown span{
    padding: 5px;
}

.dropdownBtn, .dropdown-item{
    padding: 5px 10px;
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    border: none;
}

.dropdown-item{
    display: block;
    position: absolute;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

