@page "/anianime"
@page "/anianime/{id}"
@inject IEpisodeService episodeService

<section Style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
@if (ApiResponse != null)
{
    <h3>@ApiResponse.count</h3>
    @if (episodes != null)
    {
        foreach (var item in episodes)
        {
            <h3>@item.Number</h3>
        }
    }
}
</section>


@code{
    public AniEpisode ApiResponse { get; set; }
    List<AniEpisodeBase> episodes = new();
    [Parameter]
    public string Id { get; set; }
   
}