@page "/" 
@inherits AnimeListBase


@if (Episodes != null && TopManga != null)
{
    
    <div class="homePage">
        <div class="latestAnime">
            @* <LatestAnime Episodes="Episodes"></LatestAnime> *@
            <GlideJsComponent Episodes="Episodes"></GlideJsComponent>
        </div>

        <div id="divider"></div>
        
        <div class="homePageContent">
            <MangaList TopManga="TopManga"></MangaList>
        </div>
        
        
    </div>
}
