@page "/" 
@inherits AnimeListBase


@if (Episodes != null)
{
    <h3 class="pageTitle">Top Anime</h3>
    <div class="homePage">
        <div class="latestAnime">
            <LatestAnime Episodes="Episodes"></LatestAnime>
        </div>
        <div class="homePageContent">
            <h3 class="pageTitle" style="margin-left: 0;">Highly Ranked Manga</h3>
            @if (TopManga != null)
            {
            @* <div class="topMangaList">
                @foreach (var manga in TopManga.Top)
                {
                    <div>
                        <img src="@manga.image_url"/>
                    </div>
                }
            </div> *@

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var manga in TopManga.Top)
                    {
                        <div class="swiper-slide">
                            <img class="cardImg" src="@manga.image_url" alt="@manga.title" />
                        </div>
                    }
                </div>
            </div>
            }

        </div>
    </div>
}