@page "/upcominganime/" 
@inherits AnimeListBase


@if (Episodes != null)
{
    <h3 class="pageTitle">Top Anime</h3>
    <div class="homePage">
        <div class="latestAnime">
            <LatestAnime Episodes="Episodes"></LatestAnime>
        </div>
        <div class="homePageContent">
            <h3 class="pageTitle" style="margin-left: 0;">Highly Ranked Manga</h3>
            @if (TopManga != null)
            {
            <div class="topMangaList">
                @foreach (var manga in TopManga.Top)
                {
                    <div>
                        <img src="@manga.image_url"/>
                    </div>
                }
            </div>
            }

        </div>
    </div>
}