@page "/" 
@inherits AnimeListBase


@if (Episodes != null)
{
    <h3 class="pageTitle">Top Anime</h3>
    <div class="homePage">
        <div class="latestAnime">
            <LatestAnime Episodes="Episodes"></LatestAnime>
        </div>
        <h3 class="pageTitle">Highly Ranked Manga</h3>
        <div class="homePageContent">
            @if (TopManga != null)
            {
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var manga in TopManga.Top)
                    {
                        <div class="swiper-slide">
                            <a href="/manga/@manga.mal_id">
                                <img class="cardImg" src="@manga.image_url" alt="@manga.title" />
                            </a>
                        </div>
                    }
                </div>
            </div>
            }

        </div>
    </div>
}