@page "/"
@inherits EpisodesListBase

<div>
    <h3 style="text-align: center; color:antiquewhite; font-size: 25px">Top Upcoming Animes</h3>
</div>


<div class="container-fluid p-3 m-5">
    <div class="row">
        <div class="col-12">
            @if (Episodes != null)
            {
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var ep in Episodes)
                        {
                        <div class="swiper-slide">
                            <h5 style="padding-bottom: 5px; color:aliceblue; text-align:center">@ep.title</h5>
                            <a href="episodedetails/@ep.mal_id">
                                <img src="@ep.image_url" alt="Alternate Text" />
                            </a>
                        </div>
                            
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="spinner"></div>
            }
        </div>
        
    </div>
    
</div>

