@page "/"
@inherits EpisodesListBase
@inject IJSRuntime JSRuntime

<div>
    <h3 style="text-align: center; color:antiquewhite; font-size: large">Top Upcoming Animes</h3>
</div>


<div class="container-fluid p-3 m-5">
    <div class="row">
        <div class="col-12">
            @if (Episodes != null)
            {
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var ep in Episodes)
                        {
                        <div class="swiper-slide">
                            <h4 class="card-title pb-2 mb-2" style="padding-bottom: 5px; color:aliceblue; text-align:center">@ep.title</h4>
                            <img src="@ep.image_url" alt="Alternate Text" />

                        </div>
                            
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="spinner"></div>
            }
        </div>
        
    </div>
    
</div>


@code{


    protected override async Task OnInitializedAsync()
    {
        Episodes = await episodeService.GetEpisodes();
        ListTopAnime();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            await JSRuntime.InvokeAsync<Object>("initializeSwiper");
        }
    }
}
