@page "/"
@inherits EpisodesListBase
@inject IJSRuntime JSRuntime

<h1 class="display-2 text-center text-white">Top Upcoming Animes</h1>

<div class="container-fluid p-3 m-5">
    <div class="row">
        <div class="col-12">
            @if (Episodes != null)
            {
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var ep in Episodes)
                        {
                            <div class="swiper-slide"><img src="@ep.image_url" alt="Alternate Text" /></div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="spinner"></div>
            }
        </div>
        
    </div>
    
</div>


@code{


    protected override async Task OnInitializedAsync()
    {
        Episodes = await episodeService.GetEpisodes();
        ListTopAnime();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            await JSRuntime.InvokeAsync<Object>("initializeSwiper");
        }
    }
}
