@page "/"
@inherits EpisodesListBase
@inject IJSRuntime JSRuntime

<h4 style="text-align: center">Top Upcoming Animes</h4>

@if (Episodes != null)
{
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var ep in Episodes)
            {
                <div class="swiper-slide"><img src="@ep.image_url" alt="Alternate Text" /></div>
            }
        </div>
    </div>
}
else
{
<div class="spinner"></div>
}

@code{


    protected override async Task OnInitializedAsync()
    {
        Episodes = await episodeService.GetEpisodes();
        ListTopAnime();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            await JSRuntime.InvokeAsync<Object>("initializeSwiper");
        }
    }
}
