@page "/"
@inherits SearchEngineBase



<sction class="searchComponent">
    <h1 class="pageTitle">Anime Search Engine</h1>
    
    <EditForm class="searchForm" Model="SearchField" OnValidSubmit="@HandleSearch">
        <DataAnnotationsValidator />
        <InputText class="dropdownBtn" placeholder="Type an Anime Name" @bind-Value="SearchField.SearchField" />
        <ValidationMessage For="()=> SearchField.SearchField"></ValidationMessage>
        <button type="submit" class="dropdownBtn">Search the Anime API</button>
    </EditForm>
    
    <div class="row">
    @if (query != null)
    {
        @foreach (var result in query.results)
        {
            <div class="">
                <div class="card h-100">
                    <img src="@result.image_url">
                    <div class="descriptions">
                        <h3>@result.title</h3>
                        <p>
                            @result.synopsis
                        </p>
                        <button>
                            <i class="fab fa-youtube"></i>
                            Play trailer on YouTube
                        </button>
                    </div>
                </div>
            </div>
        }

    }
    </div>

</sction>
