@page "/"
@inherits SearchEngineBase 


<h1 class="pageTitle">Anime Search Engine</h1>


<div>
    <EditForm class="dropdown" Model="SearchField" OnValidSubmit="@HandleSearch" >
        <DataAnnotationsValidator />
        <InputText class="dropdownBtn" placeholder="Type an Anime Name" @bind-Value="SearchField.SearchField" />
        <ValidationMessage For="()=> SearchField.SearchField"></ValidationMessage>
        <button type="submit" class="dropdownBtn">Search the Anime API</button>
    </EditForm>
</div>

@if (query != null)
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var result in query.results)
        {
            <div class="col mb-4">
                <div class="card h-100" style="width: 18rem;">
                    <img src="@result.image_url">
                    <div class="descriptions">
                        <h3>@result.title</h3>
                        <p>
                            @result.synopsis
                        </p>
                        <button>
                            <i class="fab fa-youtube"></i>
                            Play trailer on YouTube
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    
}


