@page "/thisweek/"
@inherits WeekAnimeBase

<section class="upcomingSeason">
    @if (_AnimeList == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        @foreach (var anime in _AnimeList)
        {
            <h3>@anime.title</h3>
        }
    }

</section>